body {
  background-color: rgb(199, 28, 28);
  background-image: url(../images/station.jpg);
  background-size: 100% auto;
}

.container-master {
  width: 80%;
  margin: 0 auto 0 auto;
  /*background-color: rgb(199, 28, 28);*/
}

#jumbotron {
  background: rgb(199, 28, 28);
  text-align: center;
  font-family: 'Sedgwick Ave Display', cursive;
}

.container {
  font-weight: bold;
}

p {
  font-family: 'Sedgwick Ave Display', cursive;
  font-size: 80px;
}

#trainTable {
  background-color: white;
}

#addTrain {
  color: white;
}

#submit-button {
  width: 20%;
  margin: auto;
  margin-bottom: 20px;
}